*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.entete{
    width: 100%;
    background-color: white;
    margin-top: 1%;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.logo{
    font-size: 50px;
    font-family: Arial;
    color: rgba(0, 195, 255, 0.836);
} 
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
nav ul li a:hover{
    color: rgba(0, 195, 255, 0.836);
}
.tetephoto{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.418)), url(../../ressources/images/bgalerie.png);
    background-position: center;
    background-size: cover;
    margin-top: 1%;
}
.tetephoto h1{
    text-align: center;
    font-size: 36px;
    padding-top: 8%;
    padding-left: 3%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
}
.galeri{
    width: 70%;
    height: auto;
    background-color: rgba(255, 99, 71, 0); 
    margin: auto;
    padding-top: 30px;
    
}
.galeri h1{
    font-size: 35px;
}
.propo{
    display: flex;
    height: 250px;
    background-color: #eb2f2f00;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Roboto Condensed', sans-serif;;
}
.propo p{
    font-size: 16px;
    color: #505050;
    line-height: 26px;
    font-weight: 400;
}
.propo h1{
    color: #212121;
}
.pictu{
    width: 200px;
    height: 250px;
    background-image: url(../../ressources/images/mission.jpg);
    border-radius: 0px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    flex-basis: 50%;
    background-color: rgba(0, 255, 255, 0);
}
.histoire .pictu{
    background-image: url(../../ressources/images/bg5.png);
}
.mission .pictu{
    background-image: url(../../ressources/images/envie.jpg);
}
.pictu1{
    box-shadow: 0 0 8px 8px white inset;
}
.ecrit{
    background-color: #2f5dc900;
    width: 30%;
    flex-basis: 50%;
    padding-left: 5%;
}
.trait{
    width: 100px;
    height: 5px;
    background-color: #009dff;
    border-radius: 0px;
}

/*******************FOOTER****************/
footer {
    position: relative;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: relative;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: rgba(0, 195, 255, 0.836);
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: rgba(0, 195, 255, 0.836);
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
@media only screen and (max-width: 700px) {
    .propo{
        display: inline-block;
        align-items: center;
        height: auto;

    }
    .propo h1{
        font-size: 20px;
        margin-top: 5%;
    }
    .ecrit{
        width: 80%;
        padding-right: 0%;
        margin: auto;
    }
    .mission .ecrit{
        padding-left: 0%;
    }
    .pictu{
        width: 80%;
        height: 290px;
        margin: auto;
        
    }
}       