*{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.partie1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../ressources/images/principale.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    font-size: 50px;
    font-family: Arial;
    color: rgba(0, 195, 255, 0.836);
} 
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
nav ul li a:hover{
    color: rgba(0, 195, 255, 0.836);
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
.col h1{
    color: #fff;
    font-size: 60px;
}
.btn1{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.btn1:hover{
    background-color: rgba(0, 195, 255, 0.836);
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(../../ressources/images/creche.jpg);

}
.card2{
    background-image: url(../../ressources/images/maternite.jpg);
}
.card3{
    background-image: url(../../ressources/images/primaire.jpg);
}
.card4{
    background-image: url(../../ressources/images/secondaire.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: rgb(3, 3, 3);
    font-size: 15px;
    text-align: center;
}
.btn2{
    width: 100px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 60px;
}
.btn2:hover{
    background-color: rgba(0, 195, 255, 0.836);
}
.transform{
    transform: translateZ(20px);
}

/*************************PARTIE2************************/
.partie2{
    width: 100%;
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.partie2 .bienv h1 h2{
    text-align: center;
}
.bienv{
    margin-top: 150px;
}
.bienv p{
    font-size: 16px;
    color: #505050;
    line-height: 26px;
    font-weight: 400;
}
.bien_offres{
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;

}
.offres{
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    height: 70vh;
    margin-top: 50px;
}
.offre{
    width: 200px;
    height: 300px;
    background-color: rgba(238, 238, 238, 0.603);
    display: inline-block;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    transition: transform 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.secu{
    width: 100%;
    background-image: url(../../ressources/images/securise.png);
    height: 150px;
    background-position: center;
    background-size: cover;
}
.certi{
    width: 100%;
    background-image: url(../../ressources/images/certificat.png);
    height: 150px;
    background-position: center;
    background-size: cover;
}
.puzz{
    width: 100%;
    background-image: url(../../ressources/images/puzzle.png);
    height: 150px;
    background-position: center;
    background-size: cover;
}
.text-offre{
    text-align: center;
    margin-top: 10%;
}
.direction{
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.boss{
    width: 300px;
    height: 400px;
    background-color: rgba(63, 63, 63, 0.87);
    border-radius: 10px;
    margin-top: 15px;
    margin: auto;

}
.descrip{
    width: 40%;
    height: 50vh;
    margin: auto; 
}
.descrip h1{
    font-size: 55px;
}
.descrip h2{
    font-size: 40px;
}
.descrip p{
    font-family: 'Georgia' ;
    font-size: 20px;
}
.venez{
    background: linear-gradient( 90deg, white 5%, rgb(183, 241, 234) 45%, white 100%) ;
    margin-top: 20px;
    height: 100px;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

/*******************FOOTER****************/
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: rgba(0, 195, 255, 0.836);
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: rgba(0, 195, 255, 0.836);
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       

/* younouss part */

.translateY{
    transform: translateY(50px);
}