*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.entete{
    width: 100%;
    background-color: white;
    margin-top: 1%;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.logo{
    font-size: 50px;
    font-family: Arial;
    color: rgba(0, 195, 255, 0.836);
} 
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
nav ul li a:hover{
    color: rgba(0, 195, 255, 0.836);
}
.tetephoto{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(rgba(94, 130, 146, 0.37), rgba(4, 44, 63, 0.7)), url(../../ressources/images/bgalerie.png);
    background-position: center;
    background-size: cover;
    margin-top: 1%;
}
.tetephoto h1{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 8%;
}
.galeri{
    width: auto;
    height: auto;
    background-color: transparent;
}

.niveau{
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prix{
    text-align: center;
}
.prix h2{
    font-size: 25px;
}
.prix span{
    color: rgba(0, 195, 255, 0.836);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.niveaux{
    background-color: #ffffff;
    margin-top: 5%;
    height: auto;
}
.photo{
    background-image: url(../../ressources/images/bg15.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    margin-top: 1%;
}
.description{
    margin-top: 2%;
}
button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans",  "Oxygen Sans",  "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10%;
  text-align: center;
  touch-action: manipulation;
  transition: 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,  0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

button:hover,
button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
.btcr{
    background-color: rgb(17, 158, 17);
}
.btmat{
    background-color: rgb(196, 199, 34);
}
.btpri{
    background-color: rgb(177, 27, 22);
}
.btsec{
    background-color: #0A66C2;
}

/*******************FOOTER****************/
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: rgba(0, 195, 255, 0.836);
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: rgba(0, 195, 255, 0.836);
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       